<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <h1>Welcome, <%= currentUser.username %></h1>
  <% if (currentUser.is_member) { %>
  <p>You are a member.</p>
  <% } %>

  <a href="/logout">Log Out</a>
  <a href="/messages">Message Board</a>

  <% if (!currentUser.is_member) { %>
  <h2>Become a Club Member</h2>
  <form action="/membership" method="post">
    <label for="membership-password">Password</label>
    <input type="text" name="memberPassword" id="membership-password" required>
    <button type="submit">Submit</button>
  </form>
  <% } %>
</body>

</html>